@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

html, body {
  font-family: 'Inconsolata', monospace;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-image: repeating-radial-gradient(circle at center center, transparent 0px, transparent 11px, rgba(255, 255, 255, 0.04) 11px, rgba(255, 255, 255, 0.04) 19px, transparent 19px, transparent 29px, rgba(255, 255, 255, 0.04) 29px, rgba(255, 255, 255, 0.04) 33px),
  repeating-radial-gradient(circle at center center, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 5px, rgb(0, 0, 0) 5px, rgb(0, 0, 0) 17px, rgb(0, 0, 0) 17px, rgb(0, 0, 0) 30px, rgb(0, 0, 0) 30px, rgb(0, 0, 0) 43px, rgb(0, 0, 0) 43px, rgb(0, 0, 0) 45px, rgb(0, 0, 0) 45px, rgb(0, 0, 0) 47px);
  background-size: 53px 53px;
  color: #cacaca;
}
a {
  color: #cacaca;
  text-decoration: none;
}

.navbar {
  height: 7vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(20, 23, 29, 0.8);
  border-bottom: #3b4152 0.5px solid;
}

.container {
  padding: 0;
  margin: 0;
  height: 92vh;
  display: flex;
}


.everything, .headlines {
  margin: 0;
  padding: 0;
  width: 50%;
}
.everything>.heading,
.headlines>.heading {
  background: rgba(13, 16, 20, 0.8);
  margin: 0;
}
.everything > .heading > h3, .headlines > .heading > h3 {
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  border-bottom: #3b4152 0.5px solid;
}
.everything > .content, .headlines > .content {
  padding: 0 1rem;
  margin: 0 auto;
  overflow: auto;
  height: 78vh;
}
.everything > .content > .item, .headlines > .content > .item {
  display: grid;
  grid-template-columns: 0.8fr 4fr 0.3fr;
  grid-gap: 1rem;
  border-bottom: #3b4152 0.5px solid;
  padding: 0 1rem;
  cursor: pointer;
}
.everything > .content > .item:hover, .headlines > .content > .item:hover  {
  background: rgba(20, 23, 29, 0.8);
}
.everything > .content > .item > .link:hover > a, .headlines > .content > .item > .link:hover > a {
  color: #e78b40;
}
.headlines {
  border-left: 1px solid #3b4152;
}

/* Search */
.search {
  width: 95%;
  padding: 0.5rem;
  margin: 1rem 0.5rem 0.5rem;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(68, 70, 75, 0.8);
  color: #ffffff;
}


/* Modal */
.modal {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal > .main {
  overflow: hidden;
  height: 85vh;
  width: 70vw;
  background: rgba(37, 39, 42, 0.8);
}
.modal > .main > .header {
  background: #9c4523;
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.modal > .main > .content {
  padding: 0 2rem;
  overflow: auto;
  height: 76vh;
}
.modal > .main > .content > .section {
  display: flex;
  justify-content: space-between;
}
.modal > .main > .content > img {
  width: 50%;
  margin-left: 25%;
}
.modal > .main > .content > a:hover {
  color: #ecb07f;
}

::-webkit-scrollbar {
  width: 5px;
  background: #3b4152;
}
::-webkit-scrollbar-thumb {
  background: #cacaca;
}

.res-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6vh;
  width: 100%;
  background: rgba(37, 39, 42, 0.8);
  z-index: 10000;
  display: none;
  cursor: pointer;
}
.res-nav h3 {
  padding: 0;
  margin: 0.5rem;
  text-align: center;
}
.active > h3 {
  color: #e78b40;
}

@media screen and (max-width: 750px) {
  .container {
    height: 86vh;
  }
  .everything {
    display: block;
    width: 100%;
  }
  .headlines {
    display: none;
    width: 0%;
  }
    .modal > .main > .content > .section {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
    }
    .modal > .main > .content > .section > p, .modal > .main > .content > .section > h4 {
      margin: 0.4rem;
      padding: 0;
    }
    .modal > .main {
      width: 90vw;
    }
    .modal > .main > .content > img {
      width: 90%;
      margin-left: 5%;
    }
    .res-nav {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
}